.container_person_list {
    li {
        display: flex;
        align-items: center;
        // margin-bottom: 20px !important;
        padding: 20px 0 !important;
        border-bottom: 1px solid #eee;

        .adm-image.adm-avatar {
            border-radius: 50%;
            margin-right: 20px;
        }
    }
}