.container_home {
    display: flex;
    flex-direction: column;

    .that_banner_wraper {
        // margin-top: 20px;
        padding: 5px;
        height: 50%;

        .item_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
        }
    }

    .that_main_wraper {
        margin: 10px 0;
        display: flex;
        justify-content: space-around;

        li {

            &>div:first-child {
                background-color: #eee;
                padding: 10px;
                border: 1px solid #eee;
                border-radius: 5px;
                text-align: center;
                margin-bottom: 15px;

                i {
                    font-size: 24px;
                }
            }

            &>div:last-child {
                text-align: center;
            }
        }
    }

    .that_shop_wraper {
        padding: 5px !important;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        li {
            border-radius: 10px;
            border: 1px solid #eee;
            display: inline;
            width: calc(50% - 10px);
            margin-bottom: 10px;
            border-radius: 8px;
            overflow: hidden;
            background: white;

            .item_img {
                width: 100%;
                height: 90px;
                margin-bottom: 10px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            h3 {
                margin: 8px;
            }

            .item_footer {
                color: #f46e89;

                i {
                    font-size: 16px;
                    margin-right: 5px;
                }

                span {
                    font-size: 12px;
                    color: #BBB;
                }
            }
        }
    }

    .adm-tabs {
        flex: 1;
        position: relative;
        background-color: #f7f7f7;

        .adm-tabs-header {
            z-index: 999;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;

            .adm-tabs-tab-list {
                background-color: #fff;
            }

            .adm-tabs-tab-wrapper.adm-tabs-tab-wrapper-stretch {
                &>div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    i {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .that_activity_list {
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;

        .item_status {
            font-size: 18px;
            margin: 10px 0;
        }

        .item_activity_on {
            display: flex;
            padding: 5px;
            margin-bottom: 20px;
            border: #BBB 1px solid;

            .item_img_wraper {
                width: 50%;
                margin-right: 20px;

                img {
                    width: 100%;
                }
            }

            .item_content {
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: space-between;

                .item_join {

                    text-align: center;
                    display: flex;
                    justify-content: flex-end;

                    div {
                        padding: 2px 8px;
                        color: white;
                        background-color: #BBB;
                    }

                }
            }
        }

        .item_activity_waiting {
            margin-bottom: 20px;
            border: #BBB solid 1px;
            text-align: center;

            h3 {
                font-size: 16px;
                margin: 10px 0;
            }

            div {
                margin-bottom: 10px;
                color: rgb(80, 78, 78)
            }
        }
    }
}