.container_schedule_detail {
    .that_schedule_detail {
        padding: 10px;

        h3 {
            margin-bottom: 20px;
        }

        &>img {
            width: 100%;
        }

        .adm-list.adm-list-default {
            border-top: none !important;

            .adm-list-body {
                border-top: none;
            }

            .adm-list-item {
                margin-bottom: 10px;

                .adm-list-item-content {
                    padding-top: 10px;
                }
            }
        }
    }

}